USE [master]
GO
/****** Object:  Database [catalogo_autos]    Script Date: 07/10/2020 8:17:36 ******/
CREATE DATABASE [catalogo_autos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'catalogo_auots', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER\MSSQL\DATA\catalogo_auots.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'catalogo_auots_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER\MSSQL\DATA\catalogo_auots_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [catalogo_autos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [catalogo_autos]
GO
/****** Object:  Table [dbo].[autos]    Script Date: 07/10/2020 8:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NULL,
	[modelo] [varchar](50) NULL,
	[anio] [int] NULL,
	[precio] [decimal](10, 0) NULL,
	[fecha_venta] [varchar](50) NULL,
 CONSTRAINT [PK_autos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
